/*
----------------------------------------------------------

#GLOBAL

----------------------------------------------------------
*/

html,body{
    font-family: 'KlavikaRegular',Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background: #333132;
}

html{
    font-size: 14px;
}

select,
select option{
    color: #000 !important;
}


.visible-xs{
    display: none !important;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1{
    font-size: 72px;
    line-height: 1;
    letter-spacing: 9px;
    font-weight: 900;
    font-style: normal;
    font-family: 'KlavikaBold',Arial,sans-serif;
}
h2{
    font-size: 64px;
    line-height: 1.066;
    letter-spacing: 6px;
    font-weight: 900;
    font-style: normal;
    font-family: 'KlavikaBold',Arial,sans-serif;
}
h3{
    font-size: 50px;
    line-height: 1.12;
    letter-spacing: 5px;
    font-weight: 900;
    font-style: normal;
    font-family: 'KlavikaMedium',Arial,sans-serif;
}
h4{
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 3px;
    font-weight: 800;
    font-style: normal;
    font-family: 'KlavikaMedium',Arial,sans-serif;
}
h5{
    font-size: 32px;
    line-height: 1.13;
    letter-spacing: 4.5px;
    font-weight: 700;
    font-style: normal;
    font-family: 'KlavikaRegular',Arial,sans-serif;
}
h6{
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-style: normal;
    font-family: 'KlavikaRegular',Arial,sans-serif;
}

p{
    line-height: 24px;
    font-family: 'KlavikaRegular',Arial,sans-serif;
    color: #54565B;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 24px;
}

a, a:hover, a:focus, a:active {
    outline: none;
    color: #3a3638;
    text-decoration: none;
    font-family: 'KlavikaRegular',Arial,sans-serif !important;
}
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
  }

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr td{
    vertical-align: top !important;
}
.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr .td-label{
    font-size: 20px;
    color: #333;
}
.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr:nth-child(3) td .woocommerce-Price-amount{
    font-size: 16px;
    color: #333;
}
.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr:nth-child(4) td{
    font-size: 0px !important;
}
.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr:nth-child(4) td ul li{
    margin-bottom: 20px !important;
}
.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr:nth-child(4) td table td{
    font-size: 14px !important;
}
.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr:nth-child(4) td h2{
    display: none;
}

button.wooscp-btn{
    background-color: transparent;
}
button.wooscp-btn{
    font-size: 15px !important;
    letter-spacing: 4px;
    line-height: 1.65;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
    font-weight: 700;
    font-style: normal;
}
.sku_wrapper{
    margin-top: 20px;
}